body{
    font-family: 'Open Sans';
}
.container{
    margin-top: 50px;
    margin-bottom : 100px;
}
#content{
    font-family: "Roboto", sans-serif;
    background-color: azure; 
    font-size: 20px;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
.submit{
    font-size: 20px;
    padding: 10px;
    width:100px
}

.row {
    display: flex;
    flex-wrap: wrap;
}
label{
    color:gray;
}
#description{
    width: 100%;
    padding: 10px;
    font-weight: 500;
    color: #0c2461;
}


